/* Your styles here */
html,
body {
  background-color: #eaedee;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: content-box;
}
span {
  padding-left: 10px;
}

.banner {
  background-color: #21303e;
}

.banner img {
  width: 10%;
  margin: 10px 0;
  margin-left: 20px;
}

.banner:hover {
  cursor: pointer;
}
.testobianco td:hover {
  cursor: pointer;
}
.testobianco {
  color: white;
}
.testobianco p {
  font-size: 1rem;
}
#navBar {
  background-color: #36485a;
}

nav table td {
  margin: 0;
  padding: 10px;
  padding-left: 20px;
}

main {
  margin: 30px;
}
#bloccoarancione {
  background-color: #f56500;
  text-align: center;
  margin-bottom: 30px;
  margin: 0;
  padding: 10px 0;
  margin-bottom: 30px;
}
#bloccoverde {
  background-image: url(../images/bg-image.png);
  text-align: center;
  margin: 0;
  padding-top: 50px;
  padding: 60px;
  background-size: contain;
}
#bloccoverde h1 {
  padding-bottom: 10px;
  font-size: 25px;
}

#bloccoverde h3 {
  padding-top: 10px;
  padding-bottom: 30px;
}
#perfectgift {
  background-color: white;
  margin: 50px 0;
  padding-top: 20px;
}

#perfectgift h2 {
  margin-left: 1.2rem;
  margin-bottom: 15px;
}

#blocchimg img {
  width: 400px;
  max-height: 450px;
  min-height: 400px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 2px 2px 4px #afaeae;
}

main a {
  color: #3d6a81;
  font-size: 1rem;
  text-decoration: none;
}

#blocchimg {
  background-color: white;
  padding-left: 1.2rem;
  font-size: 240px;
}
#blocchimg:hover {
  cursor: pointer;
}
.blocchicentrali img {
  width: 100%;
}

.titolicentrali {
  text-align: center;
  padding: 1rem;
}
#scrolltotop {
  text-align: center;
  padding: 20px;
  font-size: 1.1em;
}
aside a {
  color: white;
  padding: 20px;
  font-size: 1rem;
}
#ultimo {
  text-align: center;
}
#ultimo img {
  width: 15%;
  margin: 50px 0;
}

a:hover {
  cursor: pointer;
}

.blocchicentrali:hover {
  cursor: pointer;
}
