/* Your styles here */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #eaedee;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: content-box;
}

.banner {
  background-color: #21303e;
}

.banner img {
  width: 10%;
  margin: 10px 0;
  margin-left: 20px;
}

.banner:hover {
  cursor: pointer;
}
.testobianco td:hover {
  cursor: pointer;
}
.testobianco {
  color: white;
}
.testobianco p {
  font-size: 10px;
}
#navBar {
  background-color: #36485a;
}

nav table td {
  margin: 0;
  padding: 10px;
  padding-left: 20px;
}

main {
  margin: 30px;
}
#bloccoarancione {
  background-color: #f56500;
  text-align: center;
  margin-bottom: 30px;
  margin: 0;
  padding: 10px 0;
  margin-bottom: 10px;
}
#bloccoverde {
  background-image: url(../images/bg-image.png);
  text-align: center;
  margin: 0;
  padding-top: 50px;
  padding: 60px;
  background-size: contain;
}
#bloccoverde h1 {
  padding-bottom: 10px;
}

#bloccoverde h3 {
  padding-top: 10px;
  padding-bottom: 30px;
}
